
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sidenav">
    <a href="#about">Inbox</a>
    <a href="#services">Sent</a>
    <a href="#clients">Draft</a>
    <a href="#contact">Spam</a>
</div>

