@using MVCHackathon.Models
@model MVCHackathon.Models.UserModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm())
{

    <div class="login-box animated fadeInUp">
        
        <div class="box-header">
            <h2>Forget Password</h2>
        </div>
        @if (ViewBag.IsError == true)
        {
            <div class="alert alert-danger">
                @ViewBag.Message
            </div>
        }

        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }

        @if (ViewBag.ShowPasswordChange == true)
        {
            <label for="password">New Password</label>
            <br />
            <input id="login-password" type="password" name="Password">
            <br />
            <label for="password">Confirm Password</label>
            <br />
            <input id="login-change-password" type="password" name="ConfirmPassword">
            <br />
            <input class="btn btn-primary" type="submit" name="doChangePassword" value="Change" />
        }
        else
        {
            if (ViewBag.IsOtpSend == true)
            {
                <label for="username">Enter Your OTP</label>
                <br />

                <input id="login-username" type="text" name="Token" value="">
                <br />
                <input class="btn btn-primary" type="submit" name="doConfirmOtp" value="Confirm" />
            }
            else
            {
                <label for="username">Enter Email</label>
                <br />

                <input id="login-username" type="text" name="Email" value="">
                <br />
                <input class="btn btn-primary" type="submit" name="doSendOtp" value="Send OTP" />
            }
        }
    </div>

}


