
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Help</h2>
@using (Html.BeginForm())
{
<head>
  <meta charset="UTF-8">
  <title>Compose Mail</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Title here</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    
    
</head>
<h4>How May I help you...</h4>

}
