
@{
    ViewBag.Title = "ImportantLinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
<h2>Important Links</h2>
<body>
<br>
<ul>
<li><h4><a href="http://msbte.org.in" target="_blank">MSBTE</a></h4></li>
<li><h4><a href="http://msbte.org.in" target="_blank">DTE</a></h4></li>
<li><h4><a href="http://msbte.org.in" target="_blank">R.O.Amravati</a></h4></li>
<li><h4><a href="http://msbte.org.in" target="_blank">Maharashtra Govt</a></h4></li>
<li><h4><a href="http://msbte.org.in" target="_blank">GOI Directiory</a></h4></li>
<li><h4><a href="http://msbte.org.in" target="_blank">Supreme Court of India</a></h4></li>
<li><h4><a href="http://msbte.org.in" target="_blank">SEVARTHA</a></h4></li>
<li><h4><a href="http://msbte.org.in" target="_blank">MahaDbt</a></h4></li>
</ul>
</body>
}