@using MVCHackathon.Areas.Customer.Models
@model MVCHackathon.Areas.Customer.Models.CustomerModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container">
        <h2 class="page-header">Register Customer</h2>
        <div id="loginbox" style="margin-top:20px;" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">

                <div style="margin-top:10px; float:right;" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <input class="btn btn-primary" type="submit" name="register" value="Register" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div style="padding-top:10px; float:left;" class="panel-body">

                        <div style="margin-bottom: 10px" class="input-group">
                            <span><label>Mobile Number</label></span>
                            @Html.TextBox("Mobile", Model.Mobile, new { @class = "form-control" })

                        </div>

                        <div style="margin-bottom: 10px" class="input-group">
                            <span><label>Customer Name</label></span>
                            @Html.TextBox("CustomerName", Model.CustomerName, new { @class = "form-control" })
                        </div>

                        <div style="margin-bottom: 10px" class="input-group">
                            <span><label>Email</label></span>
                            @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
                        </div>

                        <div style="margin-bottom: 10px" class="input-group">
                            <span><label>Password</label></span>
                            <input id="login-password" type="password" class="form-control" name="Password" placeholder="password">
                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>

    </div>
}


